@import '@/styles/mixins.scss';

.tag {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 12px;
  color: #333;
  background-color: #f0f0f0;
  margin-right: 5px;
}

.remove {
  position: absolute;
  top: -6px;
  right: -6px;

  width: 18px;
  height: 18px;
  border-radius: 50%;

  background: #ef4444; // red
  color: white;
  border: none;

  font-size: 14px;
  line-height: 1;
  cursor: pointer;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease;
}

/* Show on hover */
.tag:hover .remove {
  opacity: 1;
  pointer-events: auto;
}