@import '@/styles/mixins.scss';

.messageBubble {

  --message-bg: #ececec;
  --message-text: #333;
  --org-text: #777;

  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--message-bg);
  border-radius: 12px;
  margin: 0.5rem 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);

  @include sm {
    gap: 0.75rem;
    padding: 0.75rem;
  }

  @include md {
    padding: 1rem;
  }
}

:global(body.dark) .messageBubble {
  --message-bg: #4d4d4d;
  --message-text: white;
  --org-text: #c9c9c9;
}

.avatar {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #e2e6ea;

  @include sm {
    width: 36px;
    height: 36px;
  }
}

.messageContent {
  flex: 1;
  overflow-wrap: anywhere;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.85rem;
  margin-bottom: 0.25rem;
  color: #272727;

  @include sm {
    font-size: 0.8rem;
  }
}

.sender {
  font-weight: 600;
  color: var(--message-text);
}

.organization {
  font-weight: 400;
  color: var(--org-text);
}

.timestamp {
  margin-left: auto;
  font-size: 0.75rem;
  color: #999;

  @include sm {
    font-size: 0.7rem;
  }
}

.messageText {
  font-size: 1rem;
  color: var(--message-text);
  margin: 0;
  line-height: 1.5;

  @include sm {
    font-size: 0.9rem;
  }
}
