.loader-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  width: 100%;
  z-index: 2000;
}

.spinner-text {
  margin-top: 2rem;
  text-align: center;
  color: #015e22;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.card {

  background: var(--bg-color);
  color: var(--text-color);
  border: 1px solid #f1c40f;
  border-radius: 12px;
  padding: 12px 48px;
}