@import '@/styles/mixins.scss';

.container {

    @include tablet {
        margin-left: 340px;
    }

    @include laptop {
        margin-left: 540px;
    }
}

.chatWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.chatHeader {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 2px;
  gap: 16px;
  padding: 1rem;
}

.chatTitle {
  font-size: 1.1rem;
}

.chatIcons {
  display: flex;
  gap: 16px;
}

.search, .exit {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.searchInput {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.9rem;
  max-width: 200px;
  margin-right: 8px;
}

// Chat Input
.chatInputContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  z-index: 9;
  gap: 1rem;
  flex-wrap: wrap;

  @include tablet {
    margin-left: 340px;
  }

  @include laptop {
    margin-left: 540px;
  }
}

.chatInput {
  flex: 1;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
}

.iconButton {
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--icons);

  &:hover {
    color: var(--icons-bg);
  }
}

.imagePreviewWrapper {
  position: relative;
  width: 60px;
  height: 60px;
  margin-right: 1rem;

  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    border: 1px solid #ccc;
  }
}

.removePreviewButton {
  position: absolute;
  top: -6px;
  right: -6px;
  background: #ff4d4f;
  color: white;
  border: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  padding: 0;

  &:hover {
    background: #d9363e;
  }
}

.sendButton {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--icons);
  img {
    width: 20px;
  }
  &:hover {
    color: var(--icons-bg);
  }
}

// Group Chats Sidebar

.groupsSvg {
  @include tablet {
      display: none;
  }
}

.groupChatsSidebar {
  --sidebar-bg: #e6e6e6;
  display: none;
  
    @include tablet {
      display: flex;
      flex-direction: column;
      position: fixed;
      left: 90px;
      height: 100vh;
      background-color: var(--sidebar-bg);
      border-right: 1px solid #ddd;
      padding: 1.5rem 1rem;
      z-index: 10;
      width: 220px;
    }
  
    @include laptop {
      left: 290px;
    }
  
    h2 {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }

  :global(body.dark) .groupChatsSidebar {
    --sidebar-bg: #363636;
  }
  
.joinButton {
  background-color: #24873d;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  margin-bottom: 1.5rem;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: rgb(30, 100, 50);
  }     
}
  
.chatList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
  
.chatItem {
  background-color: var(--modal-bg);
  color: var(--text-color);
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.5rem;
  text-align: left;
  font-size: 0.9rem;
  cursor: pointer;

  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: #e9e9e9;
    color: black;
  }
}

.chatImage {
  width: 100%;
}

.messageContainer {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 5rem;
}

.messageOutgoing,
.messageIncoming {
  max-width: 50%;
  word-wrap: break-word;
  word-break: break-word;
}

.messageOutgoing {
  align-self: flex-end;
  text-align: right;
}

.messageIncoming {
  align-self: flex-start;
  text-align: left;
}

