@import '@/styles/mixins.scss';

.dashboard {
  display: flex;
  background-color: #f9f9f9;
  min-height: 100vh;
  padding: 0 1rem;
  flex-direction: column;

  @include tablet {
    margin-left: 89px;
    padding: 0 2rem;
  }

  @include laptop {
    margin-left: 289px;
  }
}

.content {
  flex: 1;
  width: 100%;
  padding-top: 2rem;
  font-family: 'Arial', sans-serif;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;

  p {
    color: rgb(117, 117, 117);
  }

  @include tablet {
    font-size: 2rem;
  }
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include laptop {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
  }
}

.card {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.cardWide {
  @extend .card;

  @include tablet {
    grid-column: span 2;
  }

  @include laptop {
    grid-column: span 2;
  }
}

.calendar,
.graph {
  background-color: #e9ecef;
  height: 180px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 1rem;

  @include tablet {
    height: 200px;
    font-size: 1.1rem;
  }
}

.opportunityList {
  padding-left: 1.2rem;
  margin-top: 0.5rem;

  li {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
  }
}


.activitiesWrapper{
  grid-column: span 3;
}