:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

body.dark {
    --bg-color: #2c2c2c;
    --text-color: #ffffff;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}