:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --modal-bg: white;
    --icons: #444;
    --icons-hover: #000;
}

body.dark {
    --bg-color: #2c2c2c;
    --text-color: #ffffff;
    --modal-bg: #2e2e2e;
    --icons: #bbbbbb;
    --icons-hover: #eeeeee;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}