@import '@/styles/mixins.scss';

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  display: flex;
  flex-direction: column;
  background: white;
  border: 2px solid #f9b233;
  padding: 2rem 1.25rem;
  border-radius: 12px;
  width: 100%;
  width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;

  h1 {
    display: flex;
    justify-content: center;
  }

  @include tablet {
    width: 800px;
  }
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;

  &:hover {
    color: black;
  }
}

.textInput {
  color: rgb(66, 66, 66);
  font-size: 16px;
  border-radius: 4.5px;
  border: 1px solid #ccc;
  padding: 8px 0px 96px 8px;
  margin-bottom: 1rem;
}

.errorMessage {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.imageInput {
  padding: 4rem;
  text-align: center;
  border: 1px solid #ddd;
  color: rgb(255, 196, 0);
  cursor: pointer;
  margin-bottom: 2rem;
}

.modalButton {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.postButton {
  width: 100%;
  background-color: #24873d;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: rgb(30, 100, 50);
  }
}

.deleteButton {
  width: 100%;
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: #c9302c;
  }
}
