@import '@/styles/mixins.scss';

.nav {

  --bg-color: white;
  --bg-color-secondary: #f5f5f5;
  --text-color: rgb(0, 75, 20);
  --text-color-secondary: #000000;
  --icons: #444;
  --icons-hover: #000;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 60px;
  margin-left: 8px;

  .profile,
  .link {
    display: none;
  }

  .menu {
    font-size: 24px;
    cursor: pointer;
  }

  .logo {
    // flex: 1;
    display: block;
    text-align: center;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
  }

  .logo:hover {
    opacity: 0.7;
  }

  .logoSmall {
    display: none;
  }

  .menuIcons {
    display: none;
  }
}

:global(body.dark) .nav {
  --bg-color: none;
  --bg-color-secondary: #464646;
  --text-color: #c5c5c5;
  --text-color-secondary: #ffffff;
  --icons: #777777;
  --icons-hover: #eeeeee;
}
@include tablet {
  .nav {
    margin-left: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 89px;
    height: 100vh;
    padding: 20px 0;
    border-bottom: none;
    border-right: 1px solid #ddd;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--bg-color);

    .menu,
    .logo,
    .linkText,
    .profileName {
      display: none;
    }

    .link {
      display: block;
    }

    .logoSmall {
      display: block;
      width: 49px;
      margin-bottom: 16px;
    }

    .separator {
      width: 90%;
      height: 1px;
      background-color: #ddd;
      margin: 0 auto 20px auto;
    }

    .logos {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;
      flex: 1;

      svg {
        width: 28px;
        height: 28px;
        color: var(--icons);

        &:hover {
          color: var(--icons-hover);
        }
      }
    }

    .profile {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 1rem 0 2rem 0;
      border-top: 1px solid #ddd;
      background-color: var(--bg-color-secondary);
      cursor: pointer;
    
      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #ddd;
        margin-left: 1rem;
      }
    }    
  }
}

@include laptop {
  .nav {
    width: 289px;

    .logoSmall {
      display: none;
    }

    .logo {
      display: block;
      flex: 0;
      margin-bottom: 16px;
      height: 80px;
    }

    .logos {
      align-items: start;
      font-weight: 600;
      color: var(--text-color);
      width: 289px;
      height: 424px;

      svg {
        margin-left: 16px;
      }
    }

    .linkText {
      display: block;
    }

    .link {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 259px;
      min-height: 48px;
      border-radius: 8px;
      margin-left: 16px;
      cursor: pointer;

      &:hover {
        background-color: var(--bg-color-secondary);
      }
    }

    .active {
      background-color: rgba(0, 168, 152, 0.15);
    }

    .profile {
      gap: 1rem;
    }

    .profileName {
      display: block;
    }
  }
}

// Sidebar modal in mobile responsiveness
.sidebarModal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  width: 259px;
  height: 100dvh;
  background-color: var(--bg-color);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  z-index: 2000;

  @include tablet {
    display: none;
  }

  .separator {
    width: 90%;
    height: 1px;
    background-color: #ddd;
    margin: 0 auto 20px auto;
  }

  .logo {
    display: block;
    flex: 0;
    margin: 16px 0 16px 0;
    height: 80px;
  }

  .logos {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-weight: 600;
    color: var(--text-color);
    padding: 1rem;

    svg {
      margin-left: 16px;
    }

    .link {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 229px;
      min-height: 48px;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: var(--bg-color-secondary);
      }
    }


    .active {
      background-color: rgba(0, 168, 152, 0.15);
    }
    
    .profile {
      gap: 1rem;
    }
    
    .profileName {
      display: block;
    }
  }

.modalContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: var(--text-color);
  font-weight: 600;
}

.closeIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  }
}

.sidebarModal.open {
  transform: translateX(0);
}

.overlayOpen {
  opacity: 1;
  pointer-events: auto;
}

.modalProfile {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 0 1rem 0;
  gap: 1rem;
  border-top: 1px solid #ddd;
  cursor: pointer;

  img {
    width: 48px;
    height: 48px;
    margin-left: 1rem;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
  }
}

// Styling for DM notfications
.badge {
  color: red;
  font-size: 1.5rem;
  margin-left: 6px;
  animation: pulse 1.2s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.4); }
  100% { transform: scale(1); }
}
