.emojiWrapper {
  position: relative;
}

.emojiPicker {
  position: absolute;
  bottom: 100%;
  left: 0;
  margin-bottom: 0.5rem;
  z-index: 100;
}

.emojiPickerBottom {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0.5rem;
  z-index: 100;
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: var(--icon-default, var(--icons));

  &:hover {
    background-color: var(--bg-hover);
    color: var(--icon-hover, var(--icons-hover));
  }
}
