.emojiWrapper {
  position: relative;
}

.emojiPicker {
  position: absolute;
  bottom: 100%;
  left: 0;
  margin-bottom: 0.5rem;
  z-index: 100;
}

.emojiPickerBottom {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0.5rem;
  z-index: 100;
}

.iconButton {
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--icons);

  &:hover {
    color: var(--icons-hover);
  }
}
