@import '@/styles/mixins.scss';

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {

  --text-secondary: #2e2e2e;
  --text-tertiary: #777777;

  display: flex;
  flex-direction: column;
  background: var(--modal-bg);
  border: 2px solid #f9b233;
  padding: 2rem 1.25rem;
  border-radius: 12px;
  width: 100%;
  width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;

  h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  @include tablet {
    width: 800px;
  }
}

:global(body.dark) .modalContent {
  --text-secondary: #d1d1d1;
  --text-tertiary: #9c9c9c;
}

.closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: var(--icons);
    cursor: pointer;
  
    &:hover {
      color: var(--icons-hover);
    }
}

.userList {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.userItem {
  display: flex;
  align-items: center;
  gap: 12px;

  img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
  }

  div {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: var(--text-secondary);

    strong {
      font-weight: bold;
    }

    p {
      margin: 0;
      font-size: 0.85rem;
      color: var(--text-tertiary);
    }
  }
}
