@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.modalOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalCard {
  background: var(--modal-bg);
  border-radius: 16px;
  padding: 3.25rem 1.5rem 1.5rem;
  width: 90%;
  max-width: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.closeButton {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--icons);

  &:hover {
    color: var(--icons-hover);
  }
}

.actionButtons {
    background-color: #24873d;
    position: relative;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    margin-bottom: 1.5rem;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background-color: rgb(30, 100, 50);
    }     
}