@import '@/styles/mixins.scss';

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  display: flex;
  flex-direction: column;
  background: white;
  border: 2px solid #f9b233;
  padding: 2rem 1.25rem;
  border-radius: 12px;
  width: 100%;
  width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;

  h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  @include tablet {
    width: 800px;
  }
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;

  &:hover {
    color: black;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textInput {
  color: rgb(66, 66, 66);
  font-size: 16px;
  border-radius: 4.5px;
  border: 1px solid #ccc;
  padding: 8px 0px 96px 8px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;

  &:empty:before {
    content: attr(placeholder);
    color: #999;
  }
}

.modalButton {
  display: flex;
  justify-content: flex-end;
}

.postButton {
  padding: 8px 16px;
  background-color: #24873d;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: rgb(30, 100, 50);
  }
}

.commentList {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.commentItem {
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid #ddd;

  img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
  }

  div {
    font-size: 14px;
    color: #444;
    line-height: 1.3;

    p {
      color: rgb(117, 117, 117);
      word-break: break-word;
      white-space: pre-wrap;
    }
  }
}

.commentContentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.commentHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;

  div {
    flex: 1;
  }
}

.deleteButton {
  background: transparent;
  color: crimson;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  margin-top: 4px;

  &:hover {
    text-decoration: underline;
  }
}

.mentionWrapper{
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 6px;
  padding: 5px 10px;
  width: 200px;
  background-color: #fff;      
  border: 1px solid #e2e8f0;  
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
              0 1px 2px rgba(0, 0, 0, 0.06);  

}

.mention{
  display: flex;
  flex-direction: row;
  gap:10px;
  align-items: center;
  justify-content: start;
  padding: 5px 10px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  width: 100%;
  box-sizing: border-box;
  font-size: smaller;

  &:hover {
    background-color: #f0f0f0; // or whatever color you want
    cursor: pointer;
  }
}

.mention span {
  background-color: #dbeafe;
  color: #1e3a8a;
  border-radius: 4px;
  padding: 2px 4px;
}


.mentionChip {
  display: inline-block;
  background-color: #e0f3ff;
  color: #0077cc;
  padding: 2px 6px;
  margin-right: 2px;
  border-radius: 4px;
  font-weight: bold;
}