@import '@/styles/mixins.scss';

.homeContainer {
    padding: 0 1rem 0 1rem;

    @include tablet {
        margin-left: 89px;
        padding: 0 2rem 0 2rem;
    }

    @include laptop {
        margin-left: 289px;
    }
}

.title {
    p {
        color: rgb(117, 117, 117);
    }
}

.headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
}

.header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.atriaLogo {
    width: 90px;
    height: auto;
}

.logoAndClockContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-top: 16px;
}

.clock {
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.newPostButton {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  background-color: #24873d;
  color: white;
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  border-radius: 999px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;

  &:hover {
    background-color: rgb(30, 100, 50);
  }
}

.pencilImage {
    width: 25%;
    background: none;
    margin-left: -1rem;
  }

.emptyFeed {
  text-align: center;
  color: #777;
  padding: 40px 0;
  font-size: 1.1rem;
}

.newsfeedLoader {
    transform: scale(0.8);
    transform-origin: center;
}  

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;

  button {
    background-color: #24873d;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
  }

  button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: default;
  }

  .activePage {
    background-color: rgba(0, 168, 152, 0.15);
    color: #24873d;
    cursor: default;
  }
}